djangorestframework==3.12.*
markdown==3.3.*
psycopg2-binary==2.9.*
djoser==2.1.*
djangorestframework_simplejwt==4.8.*
django-cors-headers==3.8.*
drf-yasg==1.20.*
drf-nested-routers==0.93.*
gunicorn==20.1.*
django-heroku==0.3.*
pycodestyle==2.7.0
coverage==5.5
pylint==2.10.2
pylint-django==2.4.4